header{
    width: 100%;
    margin: 0 auto;

}

.logo {
    width: 100%;
    margin:0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(198, 247, 247);
}

object {
    width: 200px;
    margin: 20px;
}

svg {
    width: 150px;
    path{
        fill: #1f86e6;
    }
}
