header{
    width: 100%;
    margin: 0 auto;
}

.logo {
    width: 100%;
    margin: 10px 0 0 ;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

object {
    width: 200px;
    margin: 20px;
}

svg {
    width: 150px;
    path{
        fill: #1f86e6;
    }
}
