body{
  font-family: "Fredoka", sans-serif;
  font-optical-sizing: auto;
  // font-weight: 100;
  font-style: normal;
  font-variation-settings: "wdth" 100;

  main{
    position: relative;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    .main--main{
      width: 100%;
      padding: 10px 20px 50px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .louis-swipper{
        width: 100%;
        height: 80vh;
        .swiper {
          width: 100%;
          height: 100%;
        }
        .mySwiper{
          position: relative;

          .swiper-pagination{
            position: absolute;
            left: 10px;
            width: 20px;
            z-index: 10;
            // display: none;
          }

          .swiper-slide {
            text-align: center;
            font-size: 18px;
            background-color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 auto;
            position: relative;
            border-radius: 20px;
            width: 100%;
            overflow: hidden;
            .buttons{
              position: absolute;
              width: 35px;
              height: 85px;
              z-index: 5;
              right: 15px;
              bottom: 12%;
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              align-items: center;
              margin-bottom: 10px;

              .add-to-fav, .read-more{
                font-size: 20px;
                color: white;
                border: 2px solid white;
                border-radius: 50%;
                background-color: transparent;
                height: 35px;
                aspect-ratio: 1/1;

                // margin-bottom: 10px;
  
                &:hover{
                  background-color: rgba(255, 255, 255, 0.418);
                }
                &:active{
                  scale: 0.95;
                  background-color: transparent;
                }
  
              }
            }
            img{
              height: 100%;
              width: 100%;
              display: block;
              margin-bottom: 0;
              border-radius: 20px;
              object-fit: cover;
              transition: all .4s ease-in-out;
            }
            &:hover{
              transition: all .3s ease-in-out;
              // .desc{
              //   transform: translateY(0%);
              //   transition: all .3s ease-in-out;
              // }
              img{
                scale: 1.1;
                transition: all .3s ease-in-out;
              }
            }
            .desc{
              position: absolute;
              z-index: 3;
              bottom: 0;
              // margin: 0 auto;
              border-radius: 10px;
              @media screen and (min-width:880px) {
                // transform: translateY(100%);
              }
              transition: all .3s ease-in-out;
              height: 40%;
              width: 100%;
              background: linear-gradient(170deg, rgba(0,0,0,0) 31%, rgba(0,0,0,0.13466334164588534) 39%, rgba(0,0,0,0.2219451371571073) 42%, rgba(0,0,0,0.6309226932668329) 54%, rgba(0,0,0,0.8179551122194514) 61%, rgba(0,0,0,0.9201995012468828) 75%);
  
  
              display: flex;
              flex-direction: column;
              justify-content: end;
              align-items: end;
              p{
                text-align: right;
                // position: absolute;
                // bottom: 0;
                height: fit-content;
                color: #fff;
                width: 90%;
                margin: 0 auto;
              }
              p:first-child{
                font-size: 20px;
                font-weight: 500;
                margin-bottom: 3px;
              }
              p:nth-child(2){
                font-size: 16px;
                font-weight: normal;
              }
              p:last-child{
                margin-bottom: 10px;
              }
            }
          }

        }

      }
    }

    aside{
      display: none;
      @media screen and (min-width:880px) {
        display: block;
      }
      position: absolute;
      right: 20px;
      top: 20px;
      z-index: 3;
      
      width: 200px;
      background-color: rgb(75, 75, 75);
      height: 80%;

      color: white;
      p{
        text-align: center;
        font-weight: 500;
      }

      nav{
  
        .selections{
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          
          select{
            text-align: center;
            width: 80%;
            margin: 6px 0;
            padding: 4px 10px;
            border-radius: 20px;
            border: 2px solid rgb(104, 6, 196);
            background-color: rgb(75, 75, 75);
            font-weight: bold;
            color: white;
            option{
              border-radius: 20px;
              white-space: wrap;
            }
          }
        }
        
      }
      
      .list{
        .favorite-lists{
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          .fav-list{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 5px;
            .button{
              background-color: transparent;
              border: none;
              margin: 0 10px 0;
              cursor: pointer;
            }
          }
        }
      }

    }
  }
}

























